@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-padding-top: 120px; /* Adjust this based on your navbar height */
    scroll-behavior: smooth;
  }